*{
	padding: 10;
	margin: 20;
	box-sizing: border-box;
}
@font-face{
	font-family: robooto;
	scr: url(fnt/robooto-blackltalic.ttf);
}
body{
	background-color: gray;
	font-family: roboto;
}
main{
	width: 70%;
	padding: 50px;
	margin: auto;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: content;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.photo{
	width: calc(50% - 40px);
	height: calc((35vw - 40px)/16*9);
	margin: 20px;
	background-position: center;
	background-size: cover;
	background-color: orange;
	transition: all 0.5s ease;
}
.photo:hover{
	transform: rotate(3deg) scale(1.07);
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
}
.photo1{
	background-image: url(img/1.png);
}
.photo2{
	background-image: url(img/2.png);
}
.photo3{
	background-image: url(img/3.png);
}
.photo4{
	background-image: url(img/4.png);
}
.photo5{
	background-image: url(img/5.png);
}
.photo6{
	background-image: url(img/6.png);
}
.photo7{
	background-image: url(img/7.png);
}
.photo8{
	background-image: url(img/8.png);
}
.photo9{
	background-image: url(img/9.png);
}
.photo10{
	background-image: url(img/10.png);
}
.photo11{
	background-image: url(img/11.png);
}
.photo12{
	background-image: url(img/12.png);
}
.photo13{
	background-image: url(img/13.png);
}
.photo14{
	background-image: url(img/14.png);
}
.photo15{
	background-image: url(img/15.png);
}
.photo16{
	background-image: url(img/16.png);
}